@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --theme-color: #328BDD;
  --primary-color: #1E1E1E;
  --orange-color: #FFD600;
  --text-color: #7E7E7E;
  --black-color: #000000;
  --white-color: #fff;
}
/*
===============================
Global CSS START
===============================
*/
body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: #F7FAFD;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}
img, svg {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
  transition: 0.3s all ease;
}
a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: var(--text-white);
  text-decoration: none;
}
a {
  text-decoration: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  font-weight: 500;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}
h1,
h2 {
  font-weight: 700;
}
h4,
h5 {
  font-weight: 600;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p:last-of-type {
	margin: 0;
}
/*
==========================
Main Btn Css Start
==========================
*/
.site-btn {
  font-size: 16px;
  font-weight: 700;
  padding: 8px 24px;
  display: inline-block;
  transition: 0.3s all ease;
  border-radius: 30px;
  color: var(--white-color);
  background-color: var(--theme-color);
  box-shadow: 0px 4px 20px 0px #328BDD80;
  font-family: 'Poppins', sans-serif;
}
.site-btn.orange-btn {
  background-color: var(--orange-color);
 }
.site-btn:hover {
  color: var(--white-color);
 background-color: var(--black-color);
}
/*
=========================
Main Btn Css End 
=========================
*/
#page {
  overflow: hidden;
}
@media screen and (min-width: 1400px) {
  .container{
     max-width: 1260px;
  }
  }
/*
============================
Global CSS END
============================
*/

/*
============================
Header Css Start
============================
*/
.site-header {
	padding-top: 34px;
  padding-bottom: 34px;
} 
.header-inline-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 26px;
}
/* Nav Menu */
.site-header .menu {
	display: flex;
	column-gap: 64px;
} 
.site-header .menu > .menu-item{
	display: inline-block;
	position: relative;
}
.site-header .menu > .menu-item > a {
	color: var(--primary-color);
	font-weight: 400;
	font-size: 16px;
	display: block;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	transition: 0.3s all ease;
  position: relative;
}
.site-header .menu > .menu-item > a:after {
  position: absolute;
  content: "";
  bottom: -8px;
  height: 4px;
  width: 0;
  left: 0;
  right: 0;
  border-radius: 40px;
  background-color: var(--theme-color);
  transition: 0.3s all ease
}
.site-header .menu > .menu-item:hover a::after {
  width: 100%;
}
.site-header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.site-header .menu > .menu-item:hover > a{
	color: var(--primary-color);
}
.site-header .open-nav-menu {
	height: 34px;
	width: 100%;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
}
.site-header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: var(--theme-color);
    position: relative;
}
.site-header .open-nav-menu span:before,
.site-header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: var(--theme-color);
	box-sizing: border-box;
}
.site-header .open-nav-menu span:before{
	top:-7px;
}
.site-header .open-nav-menu span:after{
	top:7px;
}
.site-header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.site-header .close-nav-menu img{
	width: 16px;
}
.site-header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

/* Navber Responsive Start */
@media only screen and (max-width:1400px) {
  .header-right-wrapper {
    column-gap: 30px;
  }
}
@media only screen and (max-width:1199px) {
  .site-header .menu {
    column-gap: 25px;
  }
}
@media only screen and (max-width: 991px){
.site-header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.site-header .menu > .menu-item:hover > a{
	color: var(--theme-color);
}
  .site-header .open-nav-menu {
    width: auto;
  }
	.site-header .menu-overlay.active{
   	visibility: visible;
	  opacity: 1;
  }
	.site-header .main-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: var(--primary-color);
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.site-header .main-menu.open{
		visibility: visible;
		right: 0px;
	}
  .site-header .menu {
    flex-direction: column;
	text-align: left;
  }
	.site-header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.site-header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.site-header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.site-header .close-nav-menu,
	.site-header .open-nav-menu{
		display: flex;
	}
}
/* Navber Responsive End */


/*
============================
Header Css End
============================
*/

.hero-section {
	position: relative;
	padding-bottom: 500px;
	padding-top: 100px;
}
.hero-section::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 518px;
	background-image: url(assets/images/hero-shape.png);
	background-size: cover;
	background-position: center;
}
  .hero-content {
	padding-bottom: 17px;
  }
  .hero-content span {
	font-size: 48px;
	font-weight: 400;
	line-height: 58.51px;
	color: var(--primary-color);
	display: block;
  }
  .hero-content h1 {
	font-size: 48px;
	color: var(--primary-color);
	font-weight: 700;
	margin: 30px 0;
  }
  .hero-content p {
	font-size: 16px;
	line-height: 19px;
  }
  .hero-btn {
	margin-top: 40px;
}
  .appointment-btn {
	background-color: var(--theme-color);
	display: inline-flex;
	border-radius: 40px;
}
.appointment-btn a {
	font-size: 20px;
	padding: 8px 14px 8px 32px;
	color: var(--white-color);
	font-weight: 700;
	display: flex;
	align-items: center;
	column-gap: 12px;
}
  .appointment-btn i {
	width: 48px;
	height: 48px;
	background-color: #FFD600;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 20px;
  }
  @media only screen and (max-width:991px) {
	.hero-content span {
		font-size: 44px;
	}
	.hero-content h1 {
		font-size: 44px;
		margin: 24px 0;
	}
	.appointment-btn a {
		font-size: 18px;
	}
  }
  @media only screen and (max-width:767px) {
	.hero-content span {
		font-size: 35px;
	}
	.hero-content h1 {
		font-size: 35px;
		margin: 20px 0;
	}
	.hero-content p br {
		display: none;
	}
	.hero-section {
		padding-top: 20px;
		padding-bottom: 400px;
	}
	.appointment-btn a {
		font-size: 16px;
		padding: 6px 14px 6px 32px;
	}
	.appointment-btn i {
		font-size: 18px;
	}
  }
 
  .get-our-inner {
	padding: 68px 80px 68px 80px;
	border-radius: 24px;
	display: flex;
	column-gap: 37px;
	align-items: center;
	justify-content: space-between;
	margin-top: -100px;
	z-index: 9;
	flex-wrap: wrap;
	background-size: cover;
	background-position: center;
}
.get-our-form {
	display: flex;
	align-items: center;
	column-gap: 37px;
}

  .get-our-inner h2 {
	color: var(--primary-color);
	font-size: 36px;
}
.field {
	background-color: #F8F8F8;
	border-radius: 40px;
}
.custom-select {
	position: relative;
  }
  .custom-select select {
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	background-color: transparent;
	font-family: "Montserrat", sans-serif;
	border: 0;
	color: #7E7E7E;
	cursor: pointer;
	padding-right: 20px;
	width: 260px;
	height: 45px;
	padding: 0 20px;
}
  .custom-select::before {
	content: "\f107";
	position: absolute;
	right: 20px;
	top: 50%;
	font-family: 'Font Awesome 6 pro';
	font-size: 18px;
	color: #595959;
	transform: translateY(-50%);
}
  .custom-select.select-date::before {
	content: "\f133";
	position: absolute;
	right: 20px;
	top: 50%;
	font-family: 'Font Awesome 6 pro';
	font-size: 18px;
	color: #595959;
	transform: translateY(-50%);
}
.form-wrapper form {
	display: flex;
	align-items: center;
	column-gap: 24px;
}
.field input[type=submit] {
	outline: none;
	border: 0;
	background-color: #FFD600;
	font-size: 16px;
	font-weight: 700;
	color: var(--primary-color);
	padding: 8px 26px;
	border-radius: 40px;
  }
  @media only screen and (max-width:1400px) {
	.get-our-inner {
		padding: 45px 58px 45px 58px;
		column-gap: 0;
	}
  }
  @media only screen and (max-width:991px) {
	.get-our-inner h2 {
		font-size: 32px;
	}
	.form-wrapper form {
		row-gap: 20px;
		flex-wrap: wrap;
	}
  }
  @media only screen and (max-width:767px) {
	.get-our-inner h2 {
		font-size: 24px;
	}
  }
  .sec-subtitle {
	font-size: 16px;
	color: #328BDD;
	font-weight: 700;
	margin-bottom: 24px;
  }
  .section-title h2 {
	font-size: 36px;
	color: var(--primary-color);
	font-weight: 700;
  }
  .service-img img {
	height: 200px;
	width: 339px;
	object-fit: cover;
	border-radius: 16px;
  }
  .services-content h4 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 24px;
  }
  .services-content p {
	font-size: 16px;
	max-width: 339px;
	line-height: 19px;
  }
  .our-box-inner {
	margin-top: 60px;
}
.our-services-boxes {
	background-color: var(--white-color);
	box-shadow: 0px 4px 20px 0px #D9D9D940;
	padding: 24px;
  }
  .service-img img {
	width: 100%;
}
.our-services-boxes a {
	float: right;
	margin-top: 54px;
}
.box-btn {
	font-size: 16px;
	color: #328BDD;
	font-weight: 700;
  }
  .box-btn i {
	margin-left: 16px;
  }
  .our-box-inner .slick-dots {
	position: absolute;
	left: 50%;
	bottom: -60px;
	transform: translateX(-50%);
}
  .our-box-inner .slick-dots li {
	  width: 14px;
	  height: 14px;
	  margin: 0 3px;
	  outline: none;
	  cursor: pointer;
	  display: inline-block;
	  border: 1px solid #fff;
	  border-radius: 50%;
      background-color: #E9E9E9;
  }
  .our-box-inner .slick-dots li button {
	  display: none;
  }
  .our-box-inner .slick-dots li.slick-active {
	  background-color: #FFD600;
  }
  @media only screen and (max-width:991px) {
	.our-box-inner .slick-dots {
		bottom: -35px;
	}
  }
  @media only screen and (max-width:767px) {
	.section-title h2 {
		font-size: 30px;
	}
	.sec-subtitle {
		margin-bottom: 22px;
	}
	.our-box-inner {
		margin-top: 18px;
	}
	.our-services-boxes a {
		float: left;
		margin-top: 20px;
	}
	.box-btn {
		font-size: 15px;
	}
  }


  .what-we-inner {
	background-color: #E7F3FF;
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
}
  .what-we-content {
	max-width: 614px;
	padding-top: 116px;
	padding-bottom: 116px;
	padding-left: 80px;
  }
  .what-we-content p {
	font-size: 16px;
	margin-top: 28px;
	line-height: 19px;
  }
  .what-we-content p span {
	color: #328BDD;
	font-weight: 700;
  }
  .what-we-img {
	margin-right: 20px;
	margin-top: -28px;
  }
  @media only screen and (max-width:1199px) {
	.what-we-content {
		max-width: 550px;
	}
	.what-we-img img {
		height: 100%;
	}
  }
  @media only screen and (max-width:991px) {
	.what-we-inner {
		flex-wrap: wrap;
	}
	.what-we-content {
		max-width: 100%;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 40px;
	}
  }
  @media only screen and (max-width:991px) {
	.what-we-content {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 20px;
	}
  }



  .testimonial-box {
	background-color: var(--white-color);
	box-shadow: 0px 4px 20px 0px #D9D9D940;
	padding: 32px;
	border-radius: 16px;
	position: relative;
	/* max-width: 590px; */
}
.testimonial-box p {
	font-size: 16px;
	color: var(--black-color);
	font-weight: 400;
	line-height: 19px;
	font-style: italic;
	margin-top: 24px;
  }
  .testimonial-info {
	margin-top: 32px;
	display: flex;
	align-items: center;
	column-gap: 21px;
}
  .testimonial-review-box {
	position: relative;
  }
  .testimonial-info h4 {
	font-size: 16px;
	font-weight: 700;
  }
  .testimonial-info span {
	display: block;
	font-size: 14px;
	color: #7E7E7E;
	font-weight: 400;
	margin-top: 4px;
  }
  .review-stars {
	position: absolute;
	right: 30px;
	bottom: 30px;
  }
  .testimonial-info img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
  }
  .btn-yellow {
	background-color: #FFD600;
	box-shadow: 0px 4px 20px 0px #FFD60080;
	color: var(--primary-color);
  }
  .question-content-list-wrapper {
	margin-top: 74px;
}
.questions-list-wrap li span {
	display: block;
	float: left;
	margin-right: 24px;
  }
  .question-content {
	overflow: hidden;
  }
  .question-content h5 {
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 15px;
  }
  .question-content p {
	color: #7E7E7E;
	font-size: 16px;
	line-height: 19px;
  }
  .questions-list-wrap li:not(:last-child) {
	margin-bottom: 24px;
  }
  .get-started-wrapper {
	padding: 40px 80px;
	border-radius: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-size: cover;
	background-position: center;
	background-color: #EFF0F6;
  }
  @media only screen and (max-width:767px) {
	.get-started-wrapper {
		padding: 20px 30px;
		display: block;
		text-align: center;
	}
	.get-started-section .appointment-btn {
		margin-top: 20px;
	}
  }
  .options-about-btn {
	margin-top: 60px;
	text-align: center;
}
.get-started-section {
	position: relative;
	z-index: 9;
}

/*
============================
Footer Css Start
============================
*/
.site-footer {
	position: relative;
	background-color: #010C62;
	z-index: 2;
	margin-top: -100px;
}
.site-footer:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(assets/images/footer-bg.jpg);
	background-size: cover;
	background-position: center;
	z-index: -1;
}
.footer-top {
	padding-top: 160px;
	padding-bottom: 80px;
}
.footer-inline-wrapper {
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	flex-wrap: wrap;
  }
  .subscribe-btn {
	color: var(--white-color);
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	margin-top: 60px;
	margin-bottom: 40px;
  }
  .footer_field input {
	outline: none;
	background: transparent;
	border: 1px solid #FFFFFF;
	height: 45px;
	padding-left: 24px;
	color: var(--white-color);
	border-radius: 12px;
	width: 100%;
	display: block;
  }
  .footer_field input[type=submit] {
	background: #FFD600;
	border: 0;
	box-shadow: 0px 4px 20px 0px #FFD60080;
	padding: 0;
	margin-top: 16px;
	color: var(--primary-color);
	font-weight: 700;
  }
.widget-title {
	color: var(--white-color);
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 28px;
  }
  .footer-link li a {
	color: var(--white-color);
	font-size: 16px;
	font-weight: 400;
	display: block;
  }
  .footer-link li:not(:last-child) {
	margin-bottom: 20px;
  }
  .footer-socials {
	display: flex;
	column-gap: 40px;
}
.footer-bottom {
	background-color: #00073A;
	padding: 34px 0;
	text-align: center;
  }
  .footer-copyright {
	color: #C8CEFF;
	font-size: 16px;
	font-weight: 400;
  }
  @media only screen and (max-width:991px) {
	.footer-inline-wrapper {
		column-gap: 20px;
		row-gap: 20px;
	}
	.footer-socials {
		column-gap: 30px;
	}
  }
  @media only screen and (max-width:767px) {
	.footer-box {
		width: 100%;
	}
	.subscribe-btn {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.footer-inline-wrapper {
		row-gap: 30px;
	}
	.widget-title {
		margin-bottom: 15px;
	}
  }



/*
============================
Footer Css End
============================
*/


